@import "variables.scss";

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    transition: 300ms linear;
}

html {
    font-size: 10px;
}

body {
    margin: 0;

    background: var(--col-bg);
}

div.cover {
    width: 95vw;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 7rem;

    padding: 2rem;

    display: flex;

    align-items: center;
    justify-content: space-between;

    flex-direction: row;
    flex-wrap: nowrap;

    nav {
        display: none;
        --spacing: 5.7rem;
        font-size: 1.2rem;

        a {
            position: relative;

            color: var(--col-fg);
            text-decoration: none;

            margin: calc(var(--spacing) / 2);

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0px;
                height: 2px;
                width: 0%;
                margin: 0 auto;
                background: var(--col-fg);

                transition-duration: 300ms;
            }

            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }
    }

    div {
        a {
            color: var(--col-fg);
            text-decoration: none;
            margin: 1.3rem;
        }
    }
}



section.fullscreen {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    flex-direction: column;
}

main {
    flex-grow: 1;
    width: 100%;
    position: relative;
    padding: 2rem;
    padding-top: 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    div {
        color: var(--col-fg);

        h1 {
            font-size: 4.8rem;
            font-weight: 600;

            margin-bottom: 3rem;
        }

        p {
            font-size: 2.4rem;
            font-weight: 300;
            margin-bottom: 7rem;
        }

        div {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-flow: row wrap;
        }
    }
}

.button {
    border-radius: 8px;
    text-decoration: none;

    color: var(--col-fg);

    padding: 1.5rem 3rem;

    font-size: 1.8rem;

    margin: 2rem 4rem;
    margin-left: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

    &.primary {
        background: var(--col-blue);

        color: #fff;

        box-shadow: var(--shadow-blue);
    }
}

img#hex1 {
    width: 31%;
    height: auto;
    position: fixed;
    right: 10%;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
}

img#blob1 {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
}

@media screen and (min-width: 1000px) {
    nav {
        display: block !important;
    }

    div.cover {
        width: 80vw;
        margin: 0 auto;
    }

    main {
        &> div {
            width: 60%;
            max-width: 700px;
        }
    }
}