:root {
  --col-blue: #1FFF93;
  --col-blue-rgb: 31, 255, 147;
  --col-teal: #1FC9FF;
  --col-black: rgb(55, 55, 71);
  --col-bg: #FFFFFF;
  --col-fg: var(--col-black);
  /* Shadows */
  --shadow-blue-light: 0px 10px 20px rgba(var(--col-blue-rgb), 0.6);
  --shadow-blue-dark: 0px 10px 20px rgba(var(--col-blue-rgb), 0.2);
  --shadow-blue: var(--shadow-blue-light);
}

body.dark {
  --col-bg: var(--col-black);
  --col-fg: #FFFFFF;
  --shadow-blue: var(--shadow-blue-dark)
;
}

* {
  color: var(--col-fg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

html {
  font-size: 10px;
}

body {
  width: 200vw;
  margin: 0;
  overflow-x: hidden;
}

header {
  z-index: 100;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5.6rem;
  -webkit-box-shadow: rgba(2, 8, 20, 0.06) 0px 1px 3px, rgba(2, 8, 20, 0.04) 0px 1px 2px;
          box-shadow: rgba(2, 8, 20, 0.06) 0px 1px 3px, rgba(2, 8, 20, 0.04) 0px 1px 2px;
  padding: 0rem 2rem;
}

header #hamburger {
  background: none;
  border: none;
  margin-right: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #hamburger::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: rgba(2, 8, 20, 0.1);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
  -webkit-transition: 100ms;
  transition: 100ms;
  cursor: pointer;
}

header #hamburger:focus {
  outline: none;
}

header #hamburger:hover::before {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

header div.left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header nav a {
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  color: var(--col-fg);
  opacity: 0.5;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 2rem;
}

header nav a:hover {
  opacity: 1;
}

header nav a.selected {
  color: black;
  opacity: 1;
}

header #logo {
  height: 70% !important;
  margin-right: 2rem;
}

aside {
  position: fixed;
  left: 0;
  top: 5.6rem;
  overflow: auto;
  word-wrap: break-word;
  width: 239px;
  height: calc(100vh - 5.6rem);
  border-right: 1px solid #edf2f6;
  padding: 3rem 2rem;
}

aside h3 {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

aside a {
  color: #8998a5;
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
  padding: 1rem;
  border-radius: 2px;
  display: block;
  -webkit-transition: color 100ms;
  transition: color 100ms;
}

aside a:hover {
  color: black;
}

main {
  position: absolute;
  left: 239px;
  top: 5.6rem;
  width: calc(100vw - 239px);
  min-height: calc(100vh - 5.6rem);
  display: -ms-grid;
  display: grid;
  grid-gap: 0;
  -ms-grid-columns: 1fr clamp(300px, 100vw, 800px) 1fr;
      grid-template-columns: 1fr clamp(300px, 100vw, 800px) 1fr;
  font-size: 1.6rem;
}

main div.body {
  -ms-grid-column: 2;
  grid-column: 2;
  padding: 2rem 4rem;
}

main div.body img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

main h1.title {
  font-size: 6rem;
  font-weight: 700;
}

main p.description {
  font-size: 1.92rem;
  color: #abb2bf;
  font-weight: lighter;
}

main h1,
main h2,
main h3 {
  color: black;
  font-weight: 400;
}

main a {
  color: #1e90ff;
}

main * {
  line-height: 1.7;
}
/*# sourceMappingURL=index.css.map */